@import url("https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Playfair+Display:400,400i,700,700i,900,900i");

h1 {
    font-family: "Playfair Display", serif;
    font-size: 80px;
    line-height: 70px;
}

h4 {
    font-family: Lato, sans-serif;
    text-transform: capitalize;
    letter-spacing: 2px;
    position: relative;
    color: rgb(66, 91, 181);
    margin-left: 40px;
    font-weight: 700;
}

h4::before {
    position: absolute;
    width: 30px;
    left: -40px;
    content: "";
    display: block;
    height: 2px;
    background: rgb(66, 91, 181);
    top: 9px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 24px;
    width: 100%;
    overflow-x: hidden !important;
}

p {
    text-align: justify;
}

.size-50 {
    font-size: 50px;
    line-height: 50px;
}

.h-50 {
    height: 50px;
}

#preloader {
    position: fixed;
    inset: 0px;
    background-color: rgb(255, 255, 255);
    z-index: 10000;
}

#status,
.preloader {
    top: 50%;
    left: 50%;
    position: absolute;
}

#status {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center center;
    margin: -50px 0px 0px -50px;
}

.preloader {
    height: 40px;
    width: 40px;
    margin-top: -20px;
    margin-left: -20px;
}

.preloader::before {
    content: "";
    display: block;
    position: absolute;
    left: -1px;
    top: -1px;
    height: 100%;
    width: 100%;
    animation: 1s linear 0s infinite normal none running rotation;
    border-width: 2px;
    border-style: solid;
    border-color: transparent rgb(66, 91, 181) rgb(66, 91, 181);
    border-image: initial;
    border-radius: 100%;
}

.preloader>.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 25px;
    width: 10.6px;
    margin-top: -12.5px;
    margin-left: -5.3px;
    animation: 1s ease-in-out 0s infinite alternate none running wink;
}

@media only screen and (min-width: 768px) {
    .preloader {
        height: 60px;
        width: 60px;
        margin-top: -30px;
        margin-left: -30px;
    }

    .preloader::before {
        left: -2px;
        top: -2px;
        border-width: 2px;
    }

    .preloader>.icon {
        height: 37.5px;
        width: 15.9px;
        margin-top: -18.75px;
        margin-left: -7.95px;
    }
}

@media only screen and (min-width: 1200px) {
    .preloader {
        height: 60px;
        width: 60px;
        margin-top: -30px;
        margin-left: -30px;
    }

    .preloader>.icon {
        height: 50px;
        width: 21.2px;
        margin-top: -25px;
        margin-left: -10.6px;
    }
}

@-webkit-keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}

@-webkit-keyframes wink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes wink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

header {
    text-align: center;
    transition: all 0.5s ease 0s;
    height: 65px;
}

nav ul {
    display: inline-block;
    list-style: none;
    padding: 20px;
    margin-bottom: 0px;
    transition: all 0.5s ease 0s;
    line-height: 12px;
}

nav li {
    display: inline-block;
    margin: 10px;
}

nav li a {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(68, 68, 68);
    font-size: 11px;
    font-weight: bold;
}

.bg-nav {
    background: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(243, 243, 243);
}

.bg-nav ul {
    padding: 10px;
}

a:focus {
    color: rgb(68, 68, 68);
    text-decoration: none;
}

a:hover {
    color: rgb(66, 91, 181);
    text-decoration: none;
}

a.active {
    color: rgb(66, 91, 181);
}

#home {
    background: url("../img/home-bg-2.jpg") 0% 0% / cover;
    height: 100vh;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
}

.disply-table {
    display: table;
    height: 100vh;
}

#about {
    padding: 100px 0px;
}

.about-img-div img {
    margin: 0px auto;
}

.about-border {
    position: absolute;
    border: 8px double #00bcd4;
    width: 400px;
    height: 400px;
    top: 40px;
    left: 50px;
    z-index: 1;
}

.about-img-div {
    transform-style: preserve-3d;
}

.my-photo {
    transform-origin: top;
    transform: perspective(250px) rotateY(165deg) !important;

    animation-name: abc;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    position: relative;
}

@keyframes abc {
    from{
        right: 0px;
        top: 0px;
        outline: 1px dashed rgb(103 99 99);
        border: none;
        opacity: .5;
    }
    to {
        right: -70px;
        top: 0px;
        outline: 0px double rgb(121 118 118);
        border: none;
        opacity: 1;
    }
}

#experience {
    padding: 100px 0px;
    background: rgb(243, 243, 243);
}

.experience-row {
    padding: 20px 0px;
    border-bottom: 1px solid rgb(221, 221, 221);
}

.experience-row h3 {
    font-family: Lato, sans-serif;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: rgb(66, 91, 181);
    font-size: 16px;
    font-weight: bold;
}

.experience-row p {
    color: rgb(136, 136, 136);
    margin-top: 20px;
    font-size: 15px;
}

.experience-row .date {
    color: rgb(0, 0, 0);
    font-size: 17px;
}

.timeline {
    padding-left: 0px;
    list-style: none;
    position: relative;
}

.timeline::before {
    background-color: black;
    content: "";
    margin-left: -1px;
    position: absolute;
    top: 0px;
    left: 2em;
    width: 2px;
    height: 100%;
}

.timeline-event {
    position: relative;
}

.timeline-event:hover .timeline-event-icon {
    transform: rotate(-45deg);
    background-color: rgb(66, 91, 181);
}

.timeline-event:hover .timeline-event-thumbnail {
    box-shadow: rgb(66, 91, 181) 40em 0px 0px 0px inset;
}

.timeline-event-copy {
    padding: 2em;
    position: relative;
    top: -1.875em;
    left: 4em;
    width: 100%;
}

.timeline-event-copy h3 {
    font-size: 1.75em;
}

.timeline-event-copy h4 {
    font-size: 1.2em;
    margin-bottom: 1.2em;
}

.timeline-event-copy strong {
    font-weight: 700;
}

.timeline-event-copy p:not(.timeline-event-thumbnail) {
    padding-bottom: 1.2em;
}

.timeline-event-icon {
    transition: transform 0.2s ease-in 0s, -webkit-transform 0.2s ease-in 0s;
    transform: rotate(45deg);
    background-color: rgb(66, 91, 181);
    outline: rgb(243, 243, 243) solid 10px;
    display: block;
    margin: 0.5em 0.5em 0.5em -0.5em;
    position: absolute;
    top: 0px;
    left: 2em;
    width: 1em;
    height: 1em;
}

.timeline-event-thumbnail {
    transition: box-shadow 0.5s ease-in 0.1s;
    color: white;
    font-size: 12px;
    font-weight: bold;
    background-color: black;
    box-shadow: rgb(66, 91, 181) 0px 0px 0px 0em inset;
    display: inline-block;
    margin-bottom: 1.2em;
    padding: 0.25em 1em 0.2em;
}

#projects {
    padding: 100px 0px;
}

.portfolio .categories-grid span {
    font-size: 30px;
    margin-bottom: 30px;
    display: inline-block;
}

.portfolio .categories-grid .categories ul li {
    list-style: none;
    margin: 20px 0px;
}

.portfolio .categories-grid .categories ul li a {
    display: inline-block;
    color: rgb(96, 96, 110);
    padding: 0px 10px;
    margin: 0px 14px;
    transition: all 0.2s ease-in-out 0.2s;
}

.portfolio .categories-grid .categories ul li a:hover,
.portfolio .categories-grid .categories ul li a:focus {
    text-decoration: none;
}

.portfolio .categories-grid .categories ul li a.active {
    background-color: rgb(66, 91, 181);
    padding: 0px 20px;
    color: white;
    text-decoration: none;
}

.portfolio_filter {
    padding-left: 0px;
}

.portfolio_item {
    position: relative;
    overflow: hidden;
    display: block;
    margin-bottom: 30px;
}

.portfolio_item .portfolio_item_hover {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgb(66, 91, 181);
    transform: translateY(100%);
    opacity: 0;
    transition: all 0.2s ease-in-out 0s;
    color: rgb(51, 51, 51);
}

.portfolio_item .portfolio_item_hover .item_info {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    width: 100%;
    font-weight: bold;
}

.portfolio_item .portfolio_item_hover .item_info span {
    display: block;
    color: rgb(255, 255, 255);
    font-size: 18px;
    transform: translateY(-100px);
    transition: all 0.3s ease-in-out 0.3s;
    opacity: 0;
}

.portfolio_item .portfolio_item_hover .item_info em {
    font-style: normal;
    display: inline-block;
    background-color: rgb(66, 91, 181);
    padding: 5px 20px;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    transform: translateY(100px);
    transition: all 0.3s ease-in-out 0.3s;
    opacity: 0;
    font-size: 10px;
    letter-spacing: 2px;
}

.portfolio_item:hover .portfolio_item_hover {
    opacity: 1;
    transform: translateX(0px);
}

.portfolio_item:hover .item_info em,
.portfolio_item:hover .item_info span {
    opacity: 1;
    transform: translateX(0px);
}

.portfolio .categories-grid .categories ul li {
    float: left;
}

.portfolio .categories-grid .categories ul li a {
    padding: 0px 10px;
    transition: all 0.2s ease-in-out 0.2s;
}

.portfolio_filter {
    padding-left: 0px;
    display: inline-block;
    margin: 0px auto;
    text-align: center;
}

.portfolio_item img {
    filter: grayscale(100%);
}

.portfolio-padding {
    padding: 50px 0px;
}

.portfolio-inner {
    padding-top: 55px;
    padding-bottom: 0px !important;
}

.modal-content {
    box-shadow: rgba(0, 0, 0, 0) 0px 5px 15px;
    border: none;
}

.popup-modal {
    background: rgb(255, 255, 255);
}

.close-popup-modal {
    float: right;
    margin: 20px;
    font-size: 22px;
    opacity: 0;
    cursor: pointer;
    transition: all 0.3s ease 0.6s;
    position: fixed;
    z-index: 100000;
    right: 14px;
}

.animatedModal-on .close-popup-modal {
    opacity: 1;
}

.modal-content h2 {
    font-family: "Playfair Display", serif;
    font-size: 40px;
    line-height: 50px;
}

#contact {
    padding: 100px 0px;
    background: rgb(243, 243, 243);
}

#contact-form input,
#contact-form textarea {
    height: 50px;
    margin-bottom: 10px;
    border-radius: 0px;
}

#contact-form label {
    display: block;
    margin-bottom: 0.2em;
    font-size: 1.3rem;
    line-height: 1.3rem;
    color: rgb(0, 0, 0);
}

#contact-form label.error {
    margin-top: 10px;
    margin-bottom: 1em;
    font-size: 1.2rem;
    line-height: 1.2rem;
    color: rgb(211, 62, 67);
    margin-left: 10px;
}

#contact-form input[type="text"].error,
#contact-form input[type="password"].error,
#contact-form input[type="date"].error,
#contact-form input[type="datetime"].error,
#contact-form input[type="datetime-local"].error,
#contact-form input[type="month"].error,
#contact-form input[type="week"].error,
#contact-form input[type="email"].error,
#contact-form input[type="number"].error,
#contact-form input[type="search"].error,
#contact-form input[type="tel"].error,
#contact-form input[type="time"].error,
#contact-form input[type="url"].error,
#contact-form textarea.error {
    border-color: rgb(211, 62, 67);
}

textarea {
    resize: none;
}

fieldset {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

.required {
    color: rgb(233, 38, 109);
}

#success,
#error {
    display: none;
}

#success p,
#error p {
    display: block;
}

#success p {
    color: rgb(66, 91, 181);
    font-size: 15px;
    text-align: center;
    padding: 10px;
    border: 2px solid rgb(66, 91, 181);
    margin-top: 10px;
}

#error p {
    color: rgb(211, 62, 67);
    font-size: 15px;
    text-align: center;
    padding: 10px;
    border: 2px solid rgb(211, 62, 67);
    margin-top: 10px;
}

#submit {
    background-color: rgb(66, 91, 181);
    color: rgb(255, 255, 255);
    padding: 10px 40px;
    border-radius: 0px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    width: 100%;
}

.social {
    padding-left: 0px;
    list-style: none;
    margin-top: 20px;
}

.social li {
    float: left;
}

.social li a {
    color: rgb(51, 51, 51);
    font-size: 35px;
    margin-right: 15px;
    transition: all 0.3s ease 0s;
}

.social li a:hover {
    color: rgb(66, 91, 181);
}

@media (max-width: 991px) {
    .portfolio .categories-grid .categories ul li a {
        padding: 0px 2px;
    }
}

@media (max-width: 768px) {
    .timeline-event-copy {
        width: 90%;
        left: 2em;
    }
}

@media (max-width: 500px) {
    h1 {
        font-family: "Playfair Display", serif;
        font-size: 50px;
        line-height: 50px;
    }

    #home,
    .disply-table {
        height: 600px;
    }

    .about-border {
        width: 265px;
    }

    .portfolio .categories-grid .categories ul li {
        list-style: none;
        margin: 10px 0px;
    }
}

@media (max-width: 420px) {
    nav li {
        margin: 6px;
    }

    nav li a {
        font-size: 10px;
    }
}

@media only screen and (min-width: 992px){
    #mt-5 {
        margin-top: 200px;
    }
}